.card {
    font-family: Arial, Helvetica, sans-serif;


    .ant-card-cover {
        background-color: var(--black-color-v2);

        .image-main {
            position: relative;

            .excellent-architect {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;

                .excellent-architect-title {
                    line-height: 50px;
                    font-size: 5em;
                    font-weight: 700;
                    color: var(--white-color-v2);
                    display: inline-block;
                }
            }

            .image-card {
                width: 100%;
                height: 15em;
                // height: clamp(10em, 20vw, 15em);
                transform-box: fill-box;
                background-color: transparent;
                object-fit: cover;
            }
        }
    }

}

.card-main {
    display: flex;
    gap: 2em;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ant-card-bordered .ant-card-cover {
    margin: 0;
}

@media (max-width: 1200px) {
    .card {

        .ant-card-body {
            .title-and-price {
                .ant-card-meta-title {}

                .home-card-title {
                    .h-c-t-title {}

                    .h-c-t-view-point {}
                }
            }

            .home-card-description {}

            .home-card-price {}

            .home-card-price.free {}
        }
    }
}

@media (max-width: 900px) {
    .ant-card-body {
        .title-and-price {
            .ant-card-meta-title {}

            .home-card-title {
                .h-c-t-title {}

                .h-c-t-view-point {}
            }
        }

        .home-card-description {}

        .home-card-price {}

        .home-card-price.free {}
    }
}

@media (max-width: 600px) {
    .ant-card-body {
        .title-and-price {
            .ant-card-meta-title {}

            .home-card-title {
                .h-c-t-title {}

                .h-c-t-view-point {}
            }
        }

        .home-card-description {}

        .home-card-price {}

        .home-card-price.free {}
    }
}

@media (max-width: 500px) {
    .card {
        .ant-card-body {
            .title-and-price {
                .ant-card-meta-title {}

                .home-card-title {
                    .h-c-t-title {
                        font-size: 1.1em;
                    }

                    .h-c-t-view-point {}
                }
            }

            .home-card-description {}

            .home-card-price {
                font-size: .8em;
            }

            .home-card-price.free {}
        }
    }
}

@media (max-width: 400px) {
    .card {
        .ant-card-cover {
            .image-card {
                height: 10em;
            }
        }

        .ant-card-body {
            height: 8em;
            padding: .5em;

            .title-and-price {
                .ant-card-meta-title {}

                .home-card-title {
                    .h-c-t-title {
                        font-size: .8em;
                    }

                    .h-c-t-view-point {
                        font-size: .8em;
                    }
                }
            }

            .home-card-description {}

            .home-card-price {}

            .home-card-price.free {}
        }
    }
}