.style-card-main {
    // padding: 5em 0;
    // padding: 5em 10em;
    width: 315px;
    height: 200px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;

    .style-card-title {
        position: absolute;
        bottom: 0;
        text-align: center;
        align-items: center;
        font-size: 1.25em;
        font-weight: 600;
        color: var(--white-color-v2);
    }
}