.sketch-main {
    .table-area {
        .table-main {
            .table {
                .span-table {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}