.change-pawword-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    background-color: var(--black-color-v2);
    border-radius: 10px;

    .change-password-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 1em;
        color: var(--white-color-v2);
    }

    .change-password-form {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 100%;

        .ant-col.ant-form-item-label {
            width: 170px;

        }

        .ant-form-item-control-input-content {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .change-password-input {
            width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .change-passowrd-btn-item {
            display: flex;
            justify-content: center;
            align-items: center;

            .change-password-btn {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 1px solid #CF0201;
                background-color: #CF0201;
                color: white;
                margin-top: 1em;
            }

        }
    }
}