.main-detail{
    margin-top: 50px;
    padding: 68px;
    .breadcrumb{

    }
    .detail-sketch{
        display: flex;
        justify-content: space-between;
            margin-bottom: 45px;
    margin-top: 45px;
        .image-carousel{

        }
        .content{
            width: 40%;

            .title{
                font-size: 30px;
                font-weight: 550;
            }
            .price{
                    font-size: 20px;
    color: #FF0000;
            }
            .rate{

            }
            .property{
                display:flex;
                justify-content: space-between;
            }
            .description{
                .des-title{
                        font-size: 20px;
    font-weight: 550;
                }
            }
            .action{
                display: flex;
                margin-top: 15px;

            }
        }
    }
    .comment{
        margin-top: 60px;

    }
    .similar-sketch{
        margin-top: 50px;

        .title{
            margin-bottom: 14px;

            display: flex;
            justify-content: space-between;
        }
    }
}