.ant-card-body {
    padding: 1em;
    height: 10em;
    position: relative;

    .title-and-price {
        position: relative;

        .ant-card-meta-title {
            position: absolute;
            width: 100%;
        }

        .home-card-title {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .h-c-t-title {
                font-weight: 700;
                font-size: clamp(0.5em, 1.35vw, 1.1em);
                color: #4E4E4E;
                white-space: break-spaces;
            }

            .h-c-t-view-point {
                display: flex;
                align-items: center;
                gap: 0.5em;
                font-weight: 400;
                font-size: clamp(0.5em, 1.5vw, 1.1em);
                color: #858585;
            }
        }
    }

    .home-card-description {
        font-weight: 400;
        font-size: clamp(0.5em, 1.5vw, 1.1em);
        line-height: 24px;
        color: #858585;
        position: absolute;
        bottom: 2.5em;
    }

    .home-card-price {
        position: absolute;
        bottom: 1em;
        font-weight: 400;
        // font-size: 16px;
        font-size: clamp(0.5em, 1.5vw, 1.1em);
        line-height: 24px;
        color: #FF0000;
    }

    .home-card-price.free {
        color: #27CA40;
    }
}

@media (max-width: 900px) {
    .ant-card-body {
        .title-and-price {
            .ant-card-meta-title {}

            .home-card-title {
                .h-c-t-title {
                    font-size: clamp(0.5em, 2.2vw, 1.1em);
                }

                .h-c-t-view-point {
                    font-size: clamp(0.5em, 2.5vw, 1.1em);
                }
            }
        }

        .home-card-description {
            font-size: clamp(0.5em, 2.5vw, 1.1em);
        }

        .home-card-price {
            font-size: clamp(0.5em, 2.5vw, 1.1em);
        }

        .home-card-price.free {}
    }
}

@media (max-width: 600px) {
    .ant-card-body {
        .title-and-price {
            .ant-card-meta-title {}

            .home-card-title {
                .h-c-t-title {
                    font-size: clamp(.85em, 3vw, 1.1em);
                }

                .h-c-t-view-point {
                    font-size: clamp(.85em, 3vw, 1.1em);
                }
            }
        }

        .home-card-description {
            font-size: clamp(.85em, 3vw, 1.1em);
        }

        .home-card-price {
            font-size: clamp(.85em, 3vw, 1.1em);
        }

        .home-card-price.free {}
    }
}

@media (max-width: 400px) {
    .ant-card-body {
        .title-and-price {
            .ant-card-meta-title {}

            .home-card-title {
                .h-c-t-title {
                    font-size: clamp(0.85em, 4.5vw, 2em);
                }

                .h-c-t-view-point {
                    font-size: clamp(0.85em, 4.5vw, 2em);
                }
            }
        }

        .home-card-description {
            font-size: clamp(0.85em, 4.5vw, 2em);
        }

        .home-card-price {
            font-size: clamp(0.85em, 4.5vw, 2em);
        }

        .home-card-price.free {}
    }
}