@import '~antd/dist/antd.css';

.main-home {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    user-select: none;
    background: white;

    .main-notification {
        margin-top: 5em;
        text-align: center;

        .image {
            width: 90vw;
        }
    }

    .tool-of-web {
        margin: 3em auto;
        width: clamp(1100px, 80vw, 1300px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: -8px;
        border-radius: 30px;

        .title {
            margin-top: 50px;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            color: #1E1E1E;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1em;
            align-items: center;

            .sub-title {
                font-weight: 400;
                font-size: 14px;
                transition: 0.3s ease-in-out all;
            }

            .sub-title:hover {
                cursor: pointer;
                scale: 1.3;
            }
        }

        .subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #858585;
            padding: 0px 150px;
            margin-bottom: 20px;
        }

        .lst-tool {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            gap: 16px;

            .btn-icon {
                border-radius: 50%;
            }
        }
    }
}

@media (min-width: 1300px) {
    .main-home {
        .intro-part {
            .image-of-intro {
                img {
                    margin-left: -100px !important;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .main-home {
        .tool-of-web {
            width: 850px;

            .subtitle {
                padding: 0px 50px;
            }

            .lst-tool {
                .tool {
                    width: calc(261.33px - 50px);
                    height: calc(280px - 50px);

                    .tool-title {
                        font-size: 18px;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .main-home {
        .tool-of-web {
            width: 650px;

            .title {}

            .lst-tool {
                .ant-card-body {
                    .title-and-price {
                        .ant-card-meta-title {}

                        .home-card-title {
                            .h-c-t-title {}

                            .h-c-t-view-point {}
                        }
                    }

                    .home-card-description {}

                    .home-card-price {}

                    .home-card-price.free {}
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .main-home {
        .tool-of-web {
            width: 450px;

            .lst-tool {
                .tool {
                    width: calc(269.33px - 100px);
                    height: calc(280px - 100px);

                    .tool-title {
                        font-size: 14px;
                        padding-top: 20px;
                    }

                    .tool-subtitle {
                        font-size: 12px;
                        padding: 0px 10px;
                    }

                    .btn-tool {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .main-home {
        .tool-of-web {
            width: 300px;

            .title {
                font-size: 1em;

                .sub-title {
                    font-size: .8em;
                }
            }

            .lst-tool {
                .tool {
                    .tool-title {
                        font-size: 12px;
                    }

                    .tool-subtitle {
                        font-size: 10px;
                        margin-bottom: 5px;
                    }

                    .btn-tool {
                        font-size: 8px;
                    }
                }

            }
        }
    }
}