.footer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
    font-family: 'Lexend Deca';
    font-style: normal;

    .row-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
    }

    .row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }



    .column-1 {
        flex-basis: 25%;
        flex-grow: 1;
        margin-right: 2em;
        display: flex;
        flex-direction: column;


    }

    .column-2,
    .column-3,
    .column-4,
    .column-5 {
        flex-basis: 15%;
        flex-grow: 1;
        margin-right: 2em;
    }

    .column-5 {
        flex-basis: 10%;
    }

    .title-content {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #696969;
    }

    .content {
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: #696969;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .content:hover {
        opacity: .6;
    }
}


@media (max-width: 768px) {
    .column-1 {
        flex-basis: 40%;
    }

    .column-2,
    .column-3,
    .column-4,
    .column-5 {
        flex-basis: 20%;
    }
}