.main-author-page {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    display: flex;
    background-color: var(--black-color-v2);

    .page-content {
        width: 100%;
        margin: 20px;

        .horizontal-navbar {
            margin-top: -16px;
            margin-bottom: 35px;

            .ant-menu-horizontal {
                background-color: var(--black-color-v2);
                border-radius: 0px 0px 4px 4px;
                border-bottom: 0px !important;

                .ant-menu-item {
                    color: var(--white-color-v2);
                    text-align: center;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-top: .5em;

                    .anticon {
                        color: var(--white-color-v2);
                    }
                }

                .ant-menu-item-active {
                    border-bottom: 0px !important;
                }

            }
        }

        .sketch-list {
            margin-top: 35px;

        }
    }
}