.main-author-page{
    margin-top: 84px;
    display: flex;
    .page-content{
        width: 100%;
        margin: 20px;
        .horizontal-navbar{
            margin-top: -16px;
            margin-bottom: 35px;
            .ant-menu-horizontal {
                border-radius: 0px 0px 20px 20px;
            }
        }
        .sketch-list{
            margin-top: 35px;

        }
    }
}